.App {
  text-align: center;
  background: linear-gradient(to left, #65aeb8, #9db8cc);
  font-family: 'Cinzel', serif;

}

body {
  background-color: #dff4f8;
  color: rgb(40, 151, 185);
}

.nav-link {
  color: rgb(40, 151, 185);
}

.card-img {

  max-height: 40vh;
  min-height: 40vh;
  border-radius: 5%;
}

.card {
  min-height: 80vh;
  border-radius: 5%;
}

.card:hover {
  border: solid;
}

.single-item-card {
  margin-top: 15%;
  margin-bottom: 80%;
  border: solid;
  background-color: #ffffff;
  border-radius: 5%;
}

.single-card-img {
  width: 95%;
  height: auto;
  border-radius: 5%;
}

.single-card-body {
  max-height: fit-content;
  flex: none;
}

.quantity-input {
  width: 20%;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.buy-card {
  border: solid;
  border-radius: 5%;
  background-color: #b3c5e6;
}